@use "../scss/abstracts/" as *;

.container {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;

  .mapContainer {
    height: 500px;
    width: 100%;
  }

  .statusBar {
    @include flex(flex-start);
    flex-direction: column;
    background-color: var(--sidebar);
    opacity: 0.5;
    color: #fff;
    padding: $smallSpacing $mediumSpacing;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: $mediumSpacing;
    border-radius: 4px;
  }
}

.markerBtn {
  background: none;
  border: none;
  cursor: pointer;

  img {
    width: 20px;
    height: 20px;
  }
}

.mapboxgl-canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.navigation-control {
  position: absolute;
  right: 0;
  margin-right: 10px;
  margin-top: 10px;
}
