@use "../scss//abstracts/" as *;

.container {
  @include flex();
  position: relative;
  width: 100%;
  height: 100px;
  border: 1px solid var(--secondaryColor);
  border-radius: 7px;
  margin: $mediumSpacing 0;
  overflow: hidden;

  .customlist {
    @include flex(flex-start, flex-start);
    padding: $mediumSpacing;
    overflow-x: scroll;
    width: 100%;
  }
}
