@use "../scss/abstracts/" as *;

.container {
  position: relative;
  width: 100%;

  .mapContainer {
    height: 500px;
    width: 100%;
  }

  .statusBar {
    background-color: var(--sidebar);
    color: #fff;
    padding: $smallSpacing $mediumSpacing;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: $mediumSpacing;
    border-radius: 4px;
  }
}
